<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Mongoose Dashboard</title>
</head>
<body>
    <div class="header">
        <h1>Edit Otter</h1>
        <a href="/otters/new">Add a new otter</a>
        <a href="/">Dashboard</a>
    </div>
    <p class="otter">Name:
        <%= otters.name %>
    </p>
    <p>Age:
        <%= otters.age %>
    </p>
    <p>Favorite Food:
        <%= otters.favorite_food %>
    </p>
    <p>
        <a href="/otters/<%= otters.id%>/edit/">Edit</a>
        <a href="/otters/<%= otters.id%>/delete" method="post">Delete</a>
    </p>

</body>
</html>